.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 176px;
  display: block;
  border-radius: 2px;
  margin-bottom: 16px;
  padding: 5px;
  .price {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.4);
    float: right;
    padding: 5px;
  }
}
